@import "tailwindcss";

@media print {
  header,
  footer,
  aside,
  .print\:hidden {
    display: none !important;
  }

  body {
    background-color: white !important;
    color: black !important;
  }

  main {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

